apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-app
  namespace: apps

spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-boot-app
  template:
    metadata:
      labels:
        app: spring-boot-app
    spec:
      containers:
        - name: spring-boot-app
          image: docker.io/shymaa145/spring-boot-app
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
